:root {
  --mainDark: #343a40;
  --mainGrey: rgba(109, 109, 109);
  --mainLightGrey: rgba(172, 172, 172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler {
  border: none;
}

@media (min-width: 768px) {
  .navigation-links {
    margin-top: 5rem !important;
  }
}

@media (min-width: 420px) and (max-width: 678px) {
  .navigation-links {
    margin-top: 15rem !important;
  }
}

@media (min-width: 300px) and (max-width: 420px) {
  .navigation-links {
    margin-top: 2rem;
  }
}
